td {
  text-align: center;
}

.InstructTable{
  background-color: #73AD21;

}

body{
    background-color: whitesmoke;
}


nav {


}

.inputWrapper {
  display: flex;
  flex-wrap: wrap;
  width: fit-content;
  border: 2px solid black;
  gap: 5px;
  text-align: center;
  border-radius: 25px;
  padding: 30px;
  border-color: black;
  background-color:dodgerblue;



  margin: auto;
  margin-top: 15px;





}
.appending {
  flex: 1 0 25%;

  border: 2px solid black;
  gap: 5px;
  text-align: center;
  border-radius: 25px;
  padding: 30px;
  border-color: black;
  background-color:dodgerblue;
  margin-top: 15px;
}
.pb {
 /* margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  border: 5px solid black */

  /* border: green;
  border-radius: 50px;
  background: #73AD21;
  height: 30px;
  align-content: center;
  margin: auto;
  margin-top: 30px; */

  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background: dodgerblue;
  color: whitesmoke;
}





/*.CreateEmpBtn {
  /*Har ikke taget udgangspunkt i vores pb, da jeg ikke mådte
  lave classerne om ifht til JS.
   */
  /*border: black;
  border-radius: 50px;
  background: #73AD21;
  height: 30px;
  align-content: center;
  margin-left: 50%;
  margin-top: 30px; */

/*.CreateEmpBtn:hover {
  background-color: #73AD21;
}*/

/*.pb:hover {
  background-color: #73AD21;
} */
button {
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background-color: dodgerblue;
  color: whitesmoke;
}

button:hover{
  background-color: #73AD21;
}



input[type="text"] {
  font-size: 20px;
  font-family: Arial;
  border: 2px solid black;
  border-radius: 50px;
}

input[type=number] {
  font-size: 20px;
  font-family: Arial;
  border: 2px solid black;
  border-radius: 50px;


}

input[type=datetime-local]{
  font-size: 20px;
  font-family: Arial;
  border: 2px solid black;
  border-radius: 50px;
  border-color: black;
}

input[type=submit] {
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 30px;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background: dodgerblue;
  color: whitesmoke;
}

input[type=button]{
  text-align: center;
  margin: auto;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  justify-content: center;
  border: 2px solid black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background: whitesmoke;
  color: black;
}

  [type=submit]:hover {
  background-color: #73AD21;
}
.pageToPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: Arial;
}

/* show-activities html */
.body{
  color: whitesmoke;
}
h1{
  color: white;
  font-family: Arial;
}
h2 {
  color: white;
}
.h1styles {
  text-align: center;
  margin: auto;
  margin-top: 0px;
  color: black;
  font-family: Arial;
}

p {
  color: white;
  font-size: 30px;
}


/* Homepage */
.pageToPage {
  display: flex;
}
/* NavBar */

nav {
  color: white;
  width: 100%;
  margin: 0%;
  font-family: Arial;
  float: left;
  margin: 0 5px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  border: 2px solid #333;
}

li {
  float: left;
  text-align: center;


}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;

  text-decoration: none;

}

li a:hover:not(.active){
  background-color: whitesmoke;
  color: black;
}
.active {
  background-color: dodgerblue;
  display: flex;
  justify-content: center;
}

/* Calendar styling */
table, th, td, tr {
  border:1px solid black;
}
table{
  float: left;
  width: fit-content;
}
.dateInp{
  position: absolute;
  padding: 15px;
  left: 25%;
  right: 25%;
}
.bookingTable td{
  transition: 1s;
}
.bookingTable td:hover{
  background-color: blue;
}
td {
  background-color: white;
  color: #111111;
}

th{
  background-color: white;
}
input[type=button]:hover{
  color: whitesmoke;
  background-color: #73AD21;
}

.bookingID {
  font-size: 10px;
  font-family: Arial;
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  width: 100%;
  }

.searchBooking{

  font-family: Arial;
  border: 2px solid black;
  border-radius: 50px;
  height: 30px;
  justify-content: center;

}

select {
  font-size: 20px;
  font-family: Arial;
  border: 2px solid black;
  border-radius: 50px;
}


.shopzName{

  width: 100%;
}

.tshirtFarve{
  border: 2px solid black;
  gap: 5px;
  text-align: center;
  border-radius: 25px;
  padding: 3px;
  border-color: black;
  margin-left: 77px;
}

.tshirtSize{

  border: 2px solid black;
  gap: 5px;
  text-align: center;
  border-radius: 25px;
  padding: 3px;
  border-color: black;
  margin-left: 70px;

}

.sodaSmag{
  border: 2px solid black;
  gap: 5px;
  text-align: center;
  border-radius: 25px;
  padding: 3px;
  border-color: black;
  margin-left: 60px;
}

.pose_type{
  border: 2px solid black;
  gap: 5px;
  text-align: center;
  border-radius: 25px;
  padding: 3px;
  border-color: black;
  margin-left: 85px;

}

.logo{
  float: right;
  height: 50px;
}






.shopstyle{
  padding-top: 80px;
  margin: auto;
  width: 15%;
}



