td {
  text-align: center;
}

.InstructTable{
  background-color: #73AD21;

}

body{
    background-color: darkgreen;
}


nav {
  float: left;
  margin: 0 5px;

}

.inputWrapper{
  display: flex;
  width: fit-content;
  border: 100px solid black;
  gap: 5px;
  border-radius: 50px;
  border-color:#73AD21;
  background-color:#73AD21;


  margin: auto;
  margin-top: 15px;




}
.pb {
 /* margin: 0;
  position: absolute;
  top: 25%;
  left: 50%;
  border: 5px solid black */

  /* border: green;
  border-radius: 50px;
  background: #73AD21;
  height: 30px;
  align-content: center;
  margin: auto;
  margin-top: 30px; */

  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 30px;
  border: black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background: white;
}





/*.CreateEmpBtn {
  /*Har ikke taget udgangspunkt i vores pb, da jeg ikke mådte
  lave classerne om ifht til JS.
   */
  /*border: black;
  border-radius: 50px;
  background: #73AD21;
  height: 30px;
  align-content: center;
  margin-left: 50%;
  margin-top: 30px; */

/*.CreateEmpBtn:hover {
  background-color: #73AD21;
}*/

/*.pb:hover {
  background-color: #73AD21;
} */
button {
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 30px;
  border: black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background: white;
}

button:hover{
  background-color: #73AD21;
}



input[type="text"] {
  font-size: 20px;
  font-family: Arial;
  border-radius: 50px;
  border-color: #73AD21;
}

input[type=number] {
  font-size: 20px;
  font-family: Arial;
  border-radius: 50px;
  border-color: green;
}

input[type=datetime-local]{
  font-size: 20px;
  font-family: Arial;
  border-radius: 50px;
  border-color: green
}

input[type=submit] {
  text-align: center;
  margin: auto;
  display: flex;
  margin-top: 30px;
  border: black;
  border-radius: 50px;
  font-size: 20px;
  font-family: Arial;
  cursor: pointer;
  background: white;


}

input[type=submit]:hover {
  background-color: #73AD21;
}
.pageToPage {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  font-family: Arial;
}

/* show-activities html */
.body{
  color: darkgreen;
}
h1{
  color: white;
  font-family: Arial;
}
h2 {
  color: white;
}
.h1styles {
  text-align: center;
  margin: auto;
  margin-top: 0px;
  color: white;
  font-family: Arial;
}

p {
  color: white;
}


/* Homepage */
.pageToPage {
  display: flex;

}
/* NavBar */

nav {
  color: white;
  width: 100%;
  margin: 0%;
  font-family: Arial;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 20px;

  text-decoration: none;

}

li a:hover:not(.active){
  background-color: #111;
}
.active {
  background-color: #04AA6D;
}

/* Calendar styling */
table, th, td, tr {
  border:1px solid black;
}
table{
  float: left;
  width: fit-content;
}
.dateInp{
  position: absolute;
  padding: 15px;
  top: 50%;
  left: 25%;
  right: 25%;
}
.bookingTable td{
  transition: 1s;
}
.bookingTable td:hover{
  background-color: blue;
}
td {
  background-color: white;
  color: #111111;
}

th{
  background-color: white;
}










