td {
  text-align: center;
}
.BookStyle{

  Background: #ff7679
}
.InstrucStyle{
  Background: #8cd2ff
}

.ActivStyle{

  Background: #fffea3
}

body{
    background-color: green;
}

header{
  border-bottom: 5px solid black;
}

.inputWrapper{
  display: flex;
  width: fit-content;
  border: 5px solid black;

  margin: auto;
  margin-top: 15px;
}
