<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
</head>
<body>

    <input type="text" class="actinp1" placeholder="Activity Name" required>
    <input type="number" class="actinp2" placeholder="Age Requirement" required>
    <input type="number" class="actinp3" placeholder="Height requirement" required>
    <input type="text" class="actinp4" placeholder="Equipment" required>
    <input type="number" class="actinp5" placeholder="Estimated Time" required>


    <button class="pb" >Create Activity</button>

<script src="../../static/js/newActivity.js"></script>
</body>
</html>
