<!DOCTYPE html>
<html lang="en">
<head class="head">
  <script src="../../static/js/head.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li><a class="active" href="../landingPage/home.html">Home</a></li>
      <li><a class="active" href="../activity/activity-options.html">Activities</a></li>
      <li><a class="active" href="../booking/booking-options.html">Booking</a></li>
      <li><a class="active" href="../employee/employee-options.html">Employees</a></li>
    </ul>
  </nav>
</header>

<body class="body">

    <script src="../../static/js/header.js"></script>
   <br>
    <h1 class="h1styles">Create activity</h1>

    <div class="inputWrapper">
    <input type="text" class="actinp1" placeholder="Activity Name" required>
    <input type="number" class="actinp2" placeholder="Age Requirement" required>
    <input type="number" class="actinp3" placeholder="Height requirement" required>
    <input type="text" class="actinp4" placeholder="Equipment" required>
    <input type="number" class="actinp5" placeholder="Estimated Time" required>
    </div>

    <button class="pb" >Create Activity</button>


    <script src="../../static/js/Activity/newActivity.js"></script>

</body>
</html>
