<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
</head>
<body>

    <input type="text" class="actinp1" placeholder="Activity Name" >
    <input type="text" class="actinp2" placeholder="Age Requirement" >
    <input type="text" class="actinp3" placeholder="Height requirement" >
    <input type="text" class="actinp4" placeholder="Equipment" >
    <input type="text" class="actinp5" placeholder="Estimated Time" >


    <button class="pb" >Create Activity</button>

<script src="../../static/js/dummy.js"></script>
</body>
</html>
