<!DOCTYPE html>
<html lang="en">
<head class="head">
  <script src="../../static/js/head.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li><a class="active" href="../landingPage/home.html">Home</a></li>
      <li><a class="active" href="../activity/activity-options.html">Activities</a></li>
      <li><a class="active" href="../booking/booking-options.html">Booking</a></li>
      <li><a class="active" href="../employee/employee-options.html">Employees</a></li>
    </ul>
  </nav>
</header>
<body class="body">


<h1 class="body"></h1>
<h1 class="h1styles">Activities</h1>
<div class="inputWrapper">
<div class="appending"></div>
</div>


<script src="../../static/js/fetchActivityMap.js"></script>
<script src="../../static/js/getAllActivities.js"></script>
</body>
</html>
