
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head class="head">
  <script src="../../static/js/head.js"></script>

</head>
<header>
  <nav>
    <ul>
      <li><a class="active" href="../landingPage/home.html">Home</a></li>
      <li><a class="active" href="../activity/activity-options.html">Activities</a></li>
      <li><a class="active" href="../booking/booking-options.html">Booking</a></li>
      <li><a class="active" href="../employee/employee-options.html">Employees</a></li>
    </ul>
  </nav>
</header>

<body class="body">
<br>
<br>
<br>
<br>
<div class="pageToPage">
</div>


</body>
</html>
