<!DOCTYPE html>
<html lang="en">
<head class="head">
  <script src="../../static/js/head.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li><a class="active" href="../landingPage/home.html">Home</a></li>
      <li><a class="active" href="../activity/activity-options.html">Activities</a></li>
      <li><a class="active" href="../booking/booking-options.html">Booking</a></li>
      <li><a class="active" href="../employee/employee-options.html">Employees</a></li>
      <li><a class="active" href="../shop/shop.html">Shop</a><li>
    </ul>
  </nav>
</header>

<body class="body">
<br>
<br>
<br>
<br>

<h1 class="h1styles">Booking</h1>

<div class="pageToPage">
  <form method="GET" action="../booking/new-booking.html">
    <input type="submit" value="New booking">
  </form>
  <form method="GET" action="../booking/show-bookings.html">
    <input type="submit" value="Show bookings">
  </form>
</div>

<!-- Calender input -->
<input type="date" class="dateInp">
<div class="calenderHeader"></div>
<table  class="timeTable">
  <tr>
    <th>Time:</th>
  </tr>

</table>
<div  class="bookingTable"></div>

<script src="../../static/js/Fetch/fetchActivityMap.js"></script>
<script src="../../static/js/Fetch/fetchBookingMap.js"></script>
<script src="../../static/js/calender.js"></script>


</body>
</html>
