<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body class="body">
<script src="../../static/js/header.js"></script>
        <input type="text" class="guestName" placeholder="Guest name">
        <input type="number" class="guestAmount" placeholder="Amount of people">
        <input type="" class="bookedActivity" placeholder="Activity">
        <input type="datetime-local" class="dateTime" placeholder="Date&Time">

        <button class="CreateBookBtn">Create booking</button>

        <input type="text" class="BoolingNameDelete" placeholder="Delete name">

        <button class="DeleteBookingBtn">Delete booking</button>


<script src="../../static/js/booking.js"></script>
</body>
</html>
