<!DOCTYPE html>
<html lang="en">
<head class="head"><script src="../../static/js/head.js"></script></head>

<style>
table, th, td {
border:1px solid black;
}
table{
  float: left;
}
input{
  float: left;
  margin-right: 100%;
}
.bookingTable td{
  transition: 1s;
}
.bookingTable td:hover{
  background-color: blue;
}
</style>
<body>
<input type="date" class="dateInp">
<div class="calenderHeader"></div>
<table style="width:fit-content" class="timeTable">
  <tr>
    <th>Time:</th>
  </tr>

</table>
<div  class="bookingTable"></div>

<script src="../../static/js/fetchActivityMap.js"></script>
<script src="../../static/js/fetchBookingMap.js"></script>
<script src="../../static/js/calender.js"></script>
</body>
</html>










