<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head class="head">
  <script src="../../static/js/head.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li class="active"><a href="../landingPage/home.html">Home</a></li>
      <li class="active"><a href="../activity/activity-options.html">Activities</a></li>
      <li class="active"><a href="../booking/booking-options.html">Booking</a></li>
      <li class="active"><a href="../employee/employee-options.html">Employees</a></li>
      <li class="active"><a href="../shop/shop.html">Shop</a><li>
      <li class="logo" ><img class="logoPic" src="../../static/css/images/Adventure_Alley_logo.png"></li>
    </ul>
  </nav>
</header>

<body class="body">


<h1 class="h1styles">Create booking</h1>

<div class="inputWrapper">
        <input type="text" class="guestName" placeholder="Guest name">
        <input type="number" class="guestAmount" placeholder="Amount of people">
        <select class="bookedActivity"><option>None Selected</option></select>
        <input type="datetime-local" class="dateTime" placeholder="Date&Time" required>
</div>
        <a href="booking-options.html">
        <button class="CreateBookBtn">Create booking</button>
        </a>
<script src="../../static/js/Fetch/fetchActivityMap.js"></script>
<script src="../../static/js/Fetch/fetchBookingMap.js"></script>
<script src="../../static/js/Booking/newBooking.js"></script>
</body>
</html>
