<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head class="head">
  <script src="../../static/js/head.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li><a class="active" href="../landingPage/home.html">Home</a></li>
      <li><a class="active" href="../activity/activity-options.html">Activities</a></li>
      <li><a class="active" href="../booking/booking-options.html">Booking</a></li>
      <li><a class="active" href="../employee/employee-options.html">Employees</a></li>
    </ul>
  </nav>
</header>

<body class="body">


<h1 class="h1styles">Create booking</h1>

<div class="inputWrapper">
        <input type="text" class="guestName" placeholder="Guest name">
        <input type="number" class="guestAmount" placeholder="Amount of people">
        <input type="text" class="bookedActivity" placeholder="Activity">
        <input type="datetime-local" class="dateTime" placeholder="Date&Time">
</div>

        <button class="CreateBookBtn">Create booking</button>

<div class="inputWrapper">
        <input type="text" class="BoolingNameDelete" placeholder="Delete name">
</div>

        <button class="DeleteBookingBtn">Delete booking</button>

<script src="../../static/js/fetchBookingMap.js"></script>
<script src="../../static/js/newBooking.js"></script>
</body>
</html>
