<!DOCTYPE html>
<html lang="en">
<head class="head">
  <script src="../../static/js/head.js"></script>
</head>
<header>
  <nav>
    <ul>
      <li class="active"><a href="../landingPage/home.html">Home</a></li>
      <li class="active"><a href="../activity/activity-options.html">Activities</a></li>
      <li class="active"><a href="../booking/booking-options.html">Booking</a></li>
      <li class="active"><a href="../employee/employee-options.html">Employees</a></li>
      <li class="active"><a href="../shop/shop.html">Shop</a><li>
      <li class="logo" ><img class="logoPic" src="../../static/css/images/Adventure_Alley_logo.png"></li>
    </ul>
  </nav>
</header>
<body class="body">
<h1 class="h1styles">Search for specific booking:</h1>
<div class="appending">
  <input class="bookingID" type="number" placeholder="Booking-ID">
  <button class="searchBooking">Search</button>
  <div class="specificBooking"></div>
</div>

<h1 class="h1styles">All bookings:</h1>
<div class="inputWrapper">

</div>

<script src="../../static/js/Fetch/fetchActivityMap.js"></script>
<script src="../../static/js/Fetch/fetchBookingMap.js"></script>
<script src="../../static/js/Booking/getAllBookings.js"></script>
</body>
</html>
