<!DOCTYPE html>
<html lang="en" xmlns:class="http://www.w3.org/1999/xhtml">
<head class="head">
<meta charset="UTF-8">
  <script src="../../static/js/head.js"></script>
</head>

<header>
  <nav>
    <ul>
      <li class="active"><a href="../landingPage/home.html">Home</a></li>
      <li class="active"><a href="../activity/activity-options.html">Activities</a></li>
      <li class="active"><a href="../booking/booking-options.html">Booking</a></li>
      <li class="active"><a href="../employee/employee-options.html">Employees</a></li>
      <li class="active"><a href="../shop/shop.html">Shop</a><li>
      <li class="logo" ><img class="logoPic" src="../../static/css/images/Adventure_Alley_logo.png"></li>
    </ul>
  </nav>
</header>
<body class="body">
<script src="../../static/js/header.js"></script>
<div class="shopstyle">
  <select class="tshirtFarve">
    <option class="shopzName">Vælg T-shirt</option>
    <option>Rød</option>
    <option>Hvid</option>
    <option>Sort</option>
  </select>
  <input class="tshirt_antal" type="number" placeholder="Antal">
  <select class="tshirtSize">
    <option class="shopzName">Vælg Størrelse</option>
    <option>S</option>
    <option>M</option>
    <option>L</option>
    <option>XL</option>
  </select>
  <br>
  <br>
  <select class="sodaSmag">
    <option class="shopzName">Vælg 0.5 Sodavand</option>
    <option>Cola</option>
    <option>Cola Zero</option>
    <option>Faxe</option>
    <option>Faxe Free</option>
  </select>
  <input class="soda_antal" type="number" placeholder="Antal">
  <br>
  <br>
  <select class="pose_type">
    <option class="shopzName">Vælg Slik</option>
    <option>Lille pose</option>
    <option>Stor pose</option>
    <option>Lille chips</option>
    <option>Stor chips</option>
  </select>
  <input class="pose_antal" type="number" placeholder="Antal">
  <br>
  <button class="CreateShopBtn"> Gennemfør transaktion</button>


  <script src="../../static/js/Shop/shop.js"></script>
</div>
<img src="../../static/images/Udklip.PNG" >
<img src="../../static/images/Udklip1.PNG">
<img src="../../static/images/Udklip2.PNG">
</body>
</html>
